.blog-container {
    display: grid;
    grid-template-columns: 30% 70%; /* 左右分栏比例 */
    gap: 20px; /* 栏之间的间距 */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
    justify-content: center;
}

.blog-container li{
    list-style: none; /* 去掉项目符号 */
}

.blog-content {
}

.sidebar {
    padding: 20px;
    background-color: var(--VI-color);
    border: 1px solid #ddd;
    border-radius: 10px
}

.sidebar label{
    color:var(--VI-bright);
}

.post {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

#pagination {
    margin-top: 20px;
    text-align: center;
}

#pagination button {
    margin: 5px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}

/* 文章列表样式 */
.post-item {
}

.post-item h2 {
    margin: 0 0 0.5rem;
    font-size: 1.4rem;
}

.post-item h2 a {
    color: #2c3e50;
    text-decoration: none;
    transition: color 0.3s;
}

.post-item h2 a:hover {
    color: #0066cc;
}

.post-meta {
    color: #7f8c8d;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.post-excerpt {
    color: #34495e;
    margin: 10px 0;
    line-height: 1.6;
    border-bottom:1px solid #eaeaea;
    padding-bottom:20px;
}

.author-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */
}

.tag-box{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--VI-dark);
    cursor: default;
    background-color: #FFE4B5;
    font-size:0.9rem;
}

.filter-container {
    display:none;
  position: relative;
    justify-content: space-between;
}

.filter-container h5{
font-size:var(--p-size);
    margin:0;
}


time {
    padding-left:10px;
}

/* 响应式设计 */
@media (max-width: 768px) {
    .blog-container {
        grid-template-columns: 100%; /* 在小屏幕上，堆叠显示 */
    }
    
    .sidebar {
        display:none;
    }
    
    .filter-container {
    display:flex;
      position: relative;
}
        .filter-dropdown-button {
        background: transparent;
        color: black;
        padding: 0;
    }

    .filter-dropdown-content {
        display: none;
    }

    .filter-dropdown-content li{
        padding:10px;
    }

    .filter-dropdown-content.show{
        display: block;
        position: absolute;
        right: 0;
        top: 40px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        background-color: #f9f9f9;
        text-align:right;
        padding: 20px 20px;
    }
    
    .filter-dropdown-content label {
        display: block;
        padding: 10px 0;
        color:black;
    }

