body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 50px;
}

nav {
  background-color: #0f1626; /* 更改导航栏背景颜色 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-center {
  display: flex;
  justify-content: center;
  flex: 1; /* 让导航栏项目居中 */
}

.nav-center a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right a {
  margin-left: 15px;
}

.nav-right img {
  height: 24px; /* 设置图标大小 */
  width: auto;
}

.banner {
  background-color: #f4f4f4;
  padding: 50px 20px;
  text-align: center;
}

.banner h1 {
  margin: 0;
  font-size: 2.5em;
}

.banner p {
  font-size: 1.2em;
  color: #666;
}

.image-links {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.image-links a {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.image-container {
  aspect-ratio: 16 / 9; /* 设置宽高比为 16:9 */
  overflow: hidden; /* 超出部分裁切 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 缩放图片以填满容器 */
  object-position: center; /* 图片居中 */
}

.image-links p {
  margin-top: 10px;
  font-size: 1.1em;
  color: #333;
}
