---
layout: default
title: 橡树工作室 - 助力品牌出海
meta:
  - name: description
    content: 定制全球品牌营销，0-1内容体系深耕建设
extra_css:
  - /assets/css/blog.css
extra_js:
  - /assets/js/blog.js
---

<div class="content-banner">
  <div class="content-banner-text">
    <h1>博文板块</h1>
    <p>这里你能获得新的知识与力量</p>
  </div>
  <img src="{{ '/assets/images/social-media.jpg' | relative_url }}" alt="PC Banner" class="pc-banner">
</div>

<div class="blog-container">
<aside class="sidebar">
    <nav>
        <ul>
            <li><a>文章类型</a></li>
            {% for category in site.categories %}
                <li><label><input type="checkbox" data-category="{{ category | first }}"> {{ category | first }}</label></li>
            {% endfor %}
            <br>
            <li><a>文章类型2</a></li>
            {% for tag in site.tags %}
                <li><label><input type="checkbox" data-tag="{{ tag | first }}"> {{ tag | first }}</label></li>
            {% endfor %}
            <br>
            <li><a href="#">最新文章</a></li>
            <li><a href="#">热门文章</a></li>
            <li><a href="#">关于我</a></li>
        </ul>
    </nav>
</aside>

<select id="category-select">
  <option value="">所有类别</option>
</select>
  
<select id="tag-select">
  <option value="">所有标签</option>
</select>

<main class="blog-content">
  <div id="post-list">
    {% for post in site.posts %}
      <div class="card" data-category="{{ post.categories | join: ',' }}" data-tag="{{ post.tags | join: ',' }}">
        <article class="post-item">
          <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          <div class="post-meta">
            <img src="{{ post.authorAvatar }}" alt="{{ post.author }}头像" class="author-avatar">
            <span>{{ post.author }}</span>
            {% if post.date %}
              <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%Y-%m-%d' }}</time>
            {% endif %}
          </div>
          <p class="post-excerpt">{{ post.excerpt }}</p>
          <div class="tag-meta">
            <div class="tag-box">{{ post.categories | join: ', ' }}</div>
            <div class="tag-box">{{ post.tags | join: ', ' }}</div>
          </div>
        </article>
      </div>
    {% endfor %}
  </div>
  <div id="pagination"></div>
</main>
</div>
