article.post {
  max-width: 800px;
  margin:0 auto;
  padding: 30px;
  line-height: 1.6;
}

article.post h1{
  text-align:center;
}

article.post a{
  color: #007bff；
}

.breadcrumb-container{
    max-width: 100vw;
    height: 30vh;
    background: var(--VI-ltgreen);
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb {
    font-size: calc(var(--p-size) / 1.3);
    color: #777;
    gap: 5px;
    margin-top: var(--header-height);
    place-items: center;
    display: flex;
}

.breadcrumb a {
  text-decoration: none;
  color: #007bff; /* 设置面包屑链接颜色 */
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.data {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
  border-top: 1px solid #eee;
  place-content: center;
  border-bottom: 1px solid #eee;
}

.data img {
  width: 30px;
  aspect-ratio:1/1;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.data span {
  font-weight: bold; /* 设置作者姓名加粗 */
}

.data time {
    padding-left:15px;
}

article.post .content {
  margin-bottom: 2em;
}

article.post .content img {
  max-width: 100%; /* 图片最大宽度为容器宽度 */
  height: auto; /* 高度自动调整 */
  display: block; /* 使图片独占一行 */
  margin: 1em auto; /* 图片居中显示 */
}

article.post .content pre {
  background-color: #f0f0f0; /* 代码块背景颜色 */
  padding: 10px;
  overflow-x: auto; /* 水平滚动条 */
}

article.post .content code {
  font-family: monospace; /* 代码字体 */
}


