---
layout: default
---

<link rel="stylesheet" href="/assets/css/blog.css">

<main class="blog-content">
  <div id="post-list">
  {% for post in site.categories[page.category] %}
      <div class="card" data-category="{{ post.categories | join: ',' }}" data-tag="{{ post.tags | join: ',' }}">
        <article class="post-item">
          <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
          <div class="post-meta">
            <img src="{{ site.data.authors[post.author].avatar }}" alt="{{ site.data.authors[post.author].display_name }} 的头像" class="author-avatar">
            <span>{{ site.data.authors[post.author].display_name }}</span>
            {% if post.date %}
              <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%Y-%m-%d' }}</time>
            {% endif %}
          </div>
          <p class="post-excerpt">{{ post.excerpt }}</p>
          <div class="tag-meta">
            <div class="tag-box">{{ post.categories | join: ', ' }}</div>
            <div class="tag-box">{{ post.tags | join: ', ' }}</div>
          </div>
        </article>
      </div>
  {% endfor %}
  </div>
  <div id="pagination"></div>
</main>

<h1>类别：{{ page.category }}</h1>
