---
layout: default
---

<link rel="stylesheet" href="/assets/css/post.css">

<div class="breadcrumb-container">
  <div class="breadcrumb">
    <a href="/">首页</a> /
    {% assign path_parts = page.url | split: '/' %}
    {% for part in path_parts %}
      {% if part != '' %}
        {% assign part_url = '' %}
        {% for i in (0..forloop.index0) %}
          {% assign part_url = part_url | append: path_parts[i] | append: '/' %}
        {% endfor %}
        <a href="{{ part_url }}">{{ part | capitalize }}</a> {% unless forloop.last %}/ {% endunless %}
      {% endif %}
    {% endfor %}
    / {{ page.title }}
  </div>
</div>

<article class="post">
    <h1>{{ page.title }}</h1>
     <div class="data">
      <img src="{{ site.data.authors[page.author].avatar }}" alt="{{ site.data.authors[page.author].display_name }} 的头像">
      <span>{{ site.data.authors[page.author].display_name }}</span>
      <time datetime="{{ page.date | date: '%Y-%m-%d' }}">更新时间：{{ page.date | date: '%Y-%m-%d' }}</time>
    </div>
    <div class="content">
      {{ content }}
    </div>
</article>
